body {
  align-items: center;
  display: flex;
  background-color: #282c34;
  color: white;
  flex-direction: column;
  text-align: center;
}

header {
  align-items: center;
  margin-bottom: 30px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.column {
  align-items: center;
  background-color:#5b6068;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 300px;
  padding: 10px 10px 40px 10px;
}

.column-header {
  font-size: calc(10px + 2vmin);
}

.link {
  color: #61dafb;
}