html {
  height: 100%;
}
body {
  align-items: center;
  background: linear-gradient(#1e2126, #2c3242, #2b3447);
  display: flex;
  color: white;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

button {
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
  padding: 6px;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    filter: brightness(1.2);
    transition: filter 0.3s ease;
  }
}

header {
  align-items: center;
  margin-bottom: 30px;
}

pre {
  white-space: pre-wrap;
}

.button-stytch {
  background-color: #19303d;
  color: #f3f5f6;
}

.button-supertokens {
  background-color: #f7e4d7;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  align-items: center;
  background-color: #5b6068;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 300px;
  padding: 10px 10px 40px 10px;
}

.column-header {
  font-size: calc(10px + 2vmin);
}

.error-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.error-modal p {
  white-space: pre-line;
}

.link {
  color: #61dafb;
  padding-bottom: 20px;
}
